.btn-container-outer {
  clip-path: polygon(
    0 12px,
    0 100%,
    calc(100% - 12px) 100%,
    100% calc(100% - 12px),
    100% 0%,
    12px 0
  );
}

.btn-container-inner {
  clip-path: polygon(
    1px 12px,
    1px calc(100% - 1px),
    calc(100% - 12px) calc(100% - 1px),
    calc(100% - 1px) calc(100% - 12px),
    calc(100% - 1px) 1px,
    12px 1px
  );
}

@media screen and (max-width: 1279px) {
  .btn-container-outer {
    clip-path: polygon(
      0 10px,
      0 100%,
      calc(100% - 10px) 100%,
      100% calc(100% - 10px),
      100% 0%,
      10px 0
    );
  }

  .btn-container-inner {
    clip-path: polygon(
      1px 10px,
      1px calc(100% - 1px),
      calc(100% - 10px) calc(100% - 1px),
      calc(100% - 1px) calc(100% - 10px),
      calc(100% - 1px) 1px,
      10px 1px
    );
  }
}

@media screen and (max-width: 1023px) {
  .btn-container-outer {
    clip-path: polygon(
      0 8px,
      0 100%,
      calc(100% - 8px) 100%,
      100% calc(100% - 8px),
      100% 0%,
      8px 0
    );
  }

  .btn-container-inner {
    clip-path: polygon(
      1px 8px,
      1px calc(100% - 1px),
      calc(100% - 8px) calc(100% - 1px),
      calc(100% - 1px) calc(100% - 8px),
      calc(100% - 1px) 1px,
      8px 1px
    );
  }
}